h1 {
    color: green;
}
h1 a {
    text-decoration-color: green;
    text-decoration: none;
}
header {
    display: flex;
    background-color: blue;
    width: 1300px;
    padding: 50px;
    margin: auto;
}
header nav {
    float: right;
}
header nav ul li {
    list-style-type: none;
    display: flex;
    flex: wrap;
    justify-content: space-between;
}