:root {

}
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    color: green;
}
header {
    padding: 20px;
    background-color: tan;
}
header h1 {
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: green;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 22px;
}

/* about me section */
.about {
    color: green;
}

.about-me h1 {
    display: inline;
    padding: 0 0 0 20px;
    border-right: 3px solid green;
}
.about-me p {
    display: inline;
    font-size: 15px;
}

.about-me {
    display: flex;
    justify-content: left;
    align-items: left;
}
.about-me h1 {
    margin: 10px;
    display: inline;
}

#bio {
    background-color: tan;
    margin: 20px;
    padding: 20px;
}

/* works section */
.work {
    margin: 10px;
    padding: 20px;
}

.box1 img, .box2 img, .box3 img, .box4 img, .box5 img {
    width: 200px;
    height: 50px;
    object-fit: cover;
}
.works {
    display: flex;
    justify-content: left;
    
}
.works h1 {
    margin: 10px;
    border-right: 3px solid green;

}
.big-box {
    background-color: tan;
    margin: 0 auto;
}
.box1 {
    display: flex;
    justify-content: center;
    width: fixed;
}
.box2 {
    display: inline-block;
    justify-content: center;
    width: fixed;
}
.box3 {
    display: inline-block;
    justify-content: center;
    width: fixed;
}
.box4 {
    display: inline-block;
    justify-content: center;
    width: fixed;
}
.box5 {
    display: inline-block;
    justify-content: right;
    width: fixed;
}

/* Contact me section */
.contact {
    padding: 20px;
    background-color: tan;
}
.contact h1 {
    margin: 0;
    display: inline;
}
.contact-list {
    display: inline;
    float: right;
    margin: 10px;
    padding: 0;
}
.contact-list ul li {
    color: green;
    display: inline;
}
.contact-list ul li a {
    margin: 10px;
    text-decoration: none;
    color: green;
}