:root {

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-weight: bold;
    font-size: 36px;
    color: green;
}
header {
    padding: 20px;
    background-color: tan;
}
header h1 {
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: green;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-size: 22px;
}

.about {
    color: green;
}

.about-me h1 {
    display: inline;
    padding: 0 0 0 20px;
}
.about-me p {
    display: inline;
    font-size: 15px;
}

.contact {
    padding: 20px;
    background-color: tan;
}
.contact h1 {
    margin: 0;
    display: inline;
}
.contact-list {
    display: inline;
    float: right;
}
.contact-list ul li {
    color: green;
    display: inline;
}
.contact-list ul li a {
    margin: 10px;
    text-decoration: none;
    color: green;
}



.about-me {
    display: flex;
    justify-content: left;
    align-items: left;
}
#bio {
    background-color: tan;
    margin: 20px;
    padding: 20px;
}
.work {
    margin: 10px;
    padding: 20px;
}

.box1 img, .box2 img, .box3 img, .box4 img, .box5 img {
    width: 200px;
    height: 50px;
    object-fit: cover;
}